@using EvSef.Domain.Entities.Food
@model EvSef.Domain.ViewModels.FoodCategory.FilterFoodCategoryViewModel
@{
    ViewData["Title"] = "Index";

}

<div class="content-body"/>
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="home" asp-action="index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="javascript:void(0)">Food category List</a>
            </li>
        </ol>
    </div>
</div>
<!-- row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form asp-controller="Food" asp-action="Index" method="get" id="OurServiceForm">
                <input type="hidden" asp-for="PageId" />
                <div class="card">
                    <div class="card-body row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="text" asp-for="FoodCategoryTitle" class="form-control input-default" placeholder="Category Title">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <select class="form-control show-tick" tabindex="-98 " asp-for="FoodCategoryState">
                                    <option value="0">All</option>
                                    <option value="1">Active</option>
                                    <option value="2">NotActive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn mt-1 btn-secondary">Search</button>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div>
                                <a asp-controller="Food" asp-action="CreateFoodCategoryByAdmin" class="button-body btn mb-1 btn-lg custom-btn-create">New Food Category</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p></p>
            <!-- /# column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        @if (Model.AllEntitiesCount > 0)
                        {
                            <div class="card-title">
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th class="text-center">#</th>
                                        <th class="text-center">Category Title</th>
                                        <th class="text-center">Register Date</th>
                                        <th class="text-center">Active</th>
                                        <th class="text-center">Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @foreach (var foodCat in Model.FoodCategories)
                                    {
                                        <tr>
                                            <td class="text-center">@foodCat.FoodCategoryId</td>


                                            <td class="text-center">@foodCat.FoodCategoryTitle</td>
                                            <td class="text-center">@foodCat.RegisterDate </td>

                                            <td class="text-center">
                                                    
                                                @if (foodCat.IsActive == true)
                                                {
                                                    <i class="   fa fa-check text-success"></i>
                                                }
                                                else
                                                {
                                                    <i class="   fa fa-close text-danger"></i>
                                                }


                                            </td>

                                            <td class="text-center">

                                                 
                                                <a title="Edit" data-toggle="tooltip">
                                                    <i class="icon-size mdi mdi-account-edit"></i>
                                                </a>
                                                <a title="Delete" data-toggle="tooltip">
                                                    <i class="icon-size mdi mdi-delete"></i>
                                                </a>
                                           
 
                                            </td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>


                            @if (Model.AllPageCount > 1)
                            {
                                <div class="container">
                                    <div class="col col-sm-12 py-3 ">
                                        <ul class="pagination">
                                            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                            {
                                                <li class="paginate_button page-item @((Model.PageId == i) ? "active" : "")">
                                                    <a asp-action="Index" asp-route-pageId="@i" PFormId="OurServiceForm" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                                                </li>
                                            }

                                        </ul>
                                    </div>

                                </div>
                            }
                        }

                        else
                        {
                            <div class="alert alert-danger">
                                <strong>There Is not any Food Category.</strong>
                            </div>
                        }
                        <!-- /# column -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 


