@using EvSef.Core.FilePath
@using EvSef.Domain.Entities.Account
@model EvSef.Domain.ViewModels.OurCustomer.FilterOurCustomerViewModel
@{
    ViewData["Title"] = "Our Customer List";
}

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Our Customer List</a></li>
            </ol>
        </div>
    </div>

    <div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorText))
        {
            <div class="content-body-alert card-costum alert alert-danger">
                <p> @ViewBag.ErrorText </p>
            </div>
        }

        @if (!string.IsNullOrEmpty(ViewBag.SuccessText))
        {
            <div class="content-body-alert alert alert-info">
                <p>@ViewBag.SuccessText</p>

            </div>
        }
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form asp-controller="OurCustomer" asp-action="Index" method="get" id="OurServiceForm">
                    <input type="hidden" asp-for="PageId" />
                    <div class="card">
                        <div class="card-body row">

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" asp-for="OurCustomerName" class="form-control input-default" placeholder="Customer Name">
                                </div>

                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input asp-for="OurCustomerDescription" type="number" class="form-control input-default" placeholder="Description">
                                </div>

                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">

                                    <select class="form-control show-tick" tabindex="-98 " asp-for="OurCustomerState">
                                        <option value="0">All</option>
                                        <option value="1">Active</option>
                                        <option value="2">InActive</option>



                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button type="submit" class="btn mb-1 btn-secondary mb-1">Search</button>
                            </div>

                            <div class="col-md-3 col-sm-12">
                                <div>
                                    <a asp-controller="OurCustomer" asp-action="CreateOurCustomer" class="button-body btn mb-1 btn-lg custom-btn-create">New Customer</a>

                                </div>

                            </div>

                        </div>
                    </div>
                </form>
                <p></p>
                <!-- /# column -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            @if (Model.AllEntitiesCount > 0)
                            {
                                <div class="card-title">
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th class="text-center">Photo</th>
                                                <th class="text-center">Customer Name</th>
                                                <th class="text-center">Register Date</th>
                                                <th class="text-center">Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var ourCustomer in Model.OurCustomer)
                                            {
                                                <tr>

                                                    @if (ourCustomer.CustomerImage == null)

                                                    {
                                                        <td class="text-center">
                                                            <img class="thumbnail" src="@(FilePath.OurCustomerAvatarImage + "form-user.png"  )" style="max-width: 50px" />
                                                        </td>

                                                    }
                                                    else
                                                    {
                                                        <td class="text-center">
                                                            <img class="thumbnail" src="@(FilePath.OurCustomerAvatarImage + ourCustomer.CustomerImage )" style="max-width: 50px" />


                                                        </td>
                                                    }


                                                    <td class="text-center">@ourCustomer.OurCustomerName  </td>


                                                    <td class="text-center">@ourCustomer.RegisterDate</td>

                                                    <td class="text-center">

                                                        <a title="Edit" data-toggle="tooltip">
                                                            <i class="icon-size mdi mdi-account-edit"></i>
                                                        </a>
                                                        <a title="Delete" data-toggle="tooltip">
                                                            <i class="icon-size mdi mdi-delete"></i>
                                                        </a>
                        

                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>


                                @if (Model.AllPageCount > 1)
                                {
                                    <div class="container">
                                        <div class="col col-sm-12 py-3 ">
                                            <ul class="pagination">
                                                @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                                {
                                                    <li class="paginate_button page-item @((Model.PageId == i) ? "active" : "")">
                                                        <a asp-action="Index" asp-route-pageId="@i" PFormId="OurServiceForm" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                                                    </li>
                                                }

                                            </ul>
                                        </div>

                                    </div>
                                }
                            }

                            else
                            {
                                <div class="alert alert-danger">
                                    <strong>There Is not any Our Customer Name.</strong>
                                </div>
                            }
                            <!-- /# column -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

